.food-card {
  width: 25%;
  display: inline-block;
  .capitalize {
    text-transform: capitalize;
    text-align: center;
  }
  .info-card {
    border: 1px black solid;
    width: 200px;
    padding-left: 20px;
    line-height: 5px;
    margin: auto auto 100px auto;
    border-radius: 20px;
  }
  .food-type{
    color: red;
    padding-top: 15px;
    text-transform: capitalize;
  }
}
