.visible {
  display: block;
  margin-left: 20%;
  position: relative;
}
.invisible {
  display: none;
}
.plan-gen-btn {
  margin: 50px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.plan-gen-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.plan-gen-btn:active {
  width: 230px;
  height: 40px;
}

.mo,
.tu,
.we,
.th,
.fr,
.sa,
.su {
  position: absolute;
  font-size: 50px;
  top: 118px;
  left: -230px;
}
.tu {
  top: 445px;
}
.we {
  top: 770px;
}
.th {
  top: 1100px;
}
.fr {
  top: 1420px;
}
.sa {
  top: 1745px;
}
.su {
  top: 2075px;
}
@media screen and (max-width: 1200px) {
  .mo,
  .tu,
  .we,
  .th,
  .fr,
  .sa,
  .su {
    position: absolute;
    font-size: 30px;
    top: 118px;
    left: -100px;
}
.tu {
  top: 770px;
}
.we {
  top: 1420px;
}
.th {
  top: 2075px;
}
.fr {
  top: 2735px;
}
.sa {
  top: 3390px;
}
.su {
  top: 4045px;
}
}
@media screen and (max-width: 600px) {
  .mo,
  .tu,
  .we,
  .th,
  .fr,
  .sa,
  .su {
    position: absolute;
    font-size: 20px;
    top: 118px;
    left: -50px;
}
.tu {
  top: 1420px;
}
.we {
  top: 2735px;
}
.th {
  top: 4045px;
}
.fr {
  top: 5355px;
}
.sa {
  top: 6670px;
}
.su {
  top: 7980px;
}
}